NODE_ENV=production
PORT=10000
CLIENT_URL=https://sahanines-interiors-mewq.onrender.com
MONGO_URI=mongodb+srv://sreelekhakumari90_db_user:rupeshsonam@cluster0.1zfl536.mongodb.net/sahanines?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7
BCRYPT_SALT_ROUNDS=12
CLOUDINARY_CLOUD_NAME=dr8yguhui
CLOUDINARY_API_KEY=981929427569341
CLOUDINARY_API_SECRET=5GPy1IaiebH5TPTH9jnn7uHElk8
CLOUDINARY_FOLDER=sahanines

ADMIN_EMAIL=Sahanines@gmail.com
ADMIN_PASSWORD=abhishek
ADMIN_NAME=Administrator



